@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebar-width: 350px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.maplibregl-canvas:focus-visible {
  outline: none;
}

.radix-themes {
	--default-font-family: var(--font-nunito), serif;
	--heading-font-family: var(--font-nunito), serif;
	--code-font-family: var(--font-nunito), serif;
	--strong-font-family: var(--font-nunito), serif;
	--em-font-family: var(--font-nunito), serif;
	--quote-font-family: var(--font-nunito), serif;
}
/* pulse spin animation twist back and forth */
@keyframes pulse-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0);
  }
}

.animate-pulse-spin {
  animation: pulse-spin 2s infinite ease-in-out;
}

.cursor-pan {
}
.cursor-brush canvas {
  cursor: url(/paintbrush.png) 20 20, none;
}
.cursor-eraser canvas {
  cursor: url(/eraser.png) 16 16, pointer;
}
.cursor-shatter canvas {
  cursor: url(/break.png) 12 12, pointer;
}